.headerpreview
  display: flex
  flex-direction: column
  margin-top: -20px
  .section-header
    align-self: center
  #headercontainer
    height: 300px
    margin: -8px
    // border-top: 1px dotted #E0E4E7
    border: 1px dashed #E0E4E7
    background-repeat: no-repeat !important
    background-size: cover !important
    background-position: center !important

    #headercontent
      padding-left: 13%
      padding-top: 75px

      #headerimg
        max-height: 75px
        margin-bottom: 15px

      #headertext
        font-family: futura-pt, sans-serif
        color: white
        text-transform: uppercase
        font-weight: 200
        font-size: 22px