.bp3-progress-bar
  margin-top: 20px
  margin-bottom: 3px
  width: 80%

.onboarding-form.tags-form
  padding: 40px 2.5% 10px
  width: 95%
  .bp3-button
    margin-top: 20px

  .taginput-container
    display: flex
    flex-direction: row
    justify-content: space-between

    .tag-description
      width: 335px