#overview-container
  padding-bottom: 60px
  #overview-cards
    display: flex
    flex-direction: row
    justify-content: space-between
    flex-wrap: wrap
    .overview-column
      display: flex
      flex-direction: column
      width: 47%
      @media only screen and (max-width: 1000px)
        width: 500px
      .overview-card
        border-radius: 10px
        display: flex
        flex-direction: column
        align-items: flex-start
        height: 215px
        margin: 10px
        font-size: 16px
        button
          border-radius: 2px

      .overview-spinner
        display: flex
        align-self: flex-center
        padding-top: 30px

      .opencms-button
        text-decoration: none
        margin-top: 20px
    .overviewrobot-container
      margin-top: 30px
      display: flex
      flex-direction: row
      .postgenius-robot
        margin-left: auto
        width: 120px
      .speech-bubble 
        position: relative
        background: #EAF5FD
        border-radius: .4em
        width: calc(100% - 140px)
        height: 170px
        &:after
          content: ''
          position: absolute
          right: 0
          top: 50%
          width: 0
          height: 0
          border: 20px solid transparent
          border-left-color: #EAF5FD
          border-right: 0
          border-bottom: 0
          margin-top: -10px
          margin-right: -20px
        p
          padding: 20px
          font-size: 18px