#navbar-container
  height: 80px
  background: white
  display: flex
  flex-direction: row
  align-items: center
  border-bottom: 1px solid #E0E4E7
  margin-bottom: 25px
  #navbar-logo
    height: 50px
    padding-left: 25px