#navbar-container
  height: 80px
  background: white
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding-bottom: 25px
  #navbar-logo
    height: 50px
    padding-left: 25px
    margin-top: 25px

  #logout-button
    margin-right: 50px
    font-size: 20px
    border: none
    background: none
    background: white