#newtasks-container
  min-height: 100vh
  .onboarding-container.newtasks
    margin: 40px 15% 100px
    width: 70%
    .postinput-container
      display: flex
      flex-direction: column
      align-items: center
      margin-bottom: 7px
      box-shadow: 0 4px 8px 1px rgba(0,0,0,0.2)
      border-radius: 10px
      padding: 50px 100px
      transition: transform 0.6s
      transform-style: preserve-3d
      .bp3-input
        height: 38px
        width: 370px
        margin-bottom: 30px
      .tagmultiselect
        flex-direction: column
        width: 370px
        height: 30px
      .postinput-controlbuttons
        margin-top: 30px
        display: flex
        flex-direction: row
        width: 400px
        justify-content: space-between


    .postinput-container.flip
      transform: rotateX(-360deg)
    .postinput-container.done
      box-shadow: none    

    .newtasks-progressbar
      width: 600px

    