.onboarding-container.editheader
  margin-bottom: 40px
  width: 70%
  margin: 10px 15% 0px

  #headerimg-preview
    max-width: 100px
    max-height: 30px
    width: auto
    height: auto
    display: block
    padding-top: 5px

  #colorinput
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    align-self: flex-start
    width: 115px

    #colorpreview
      width: 30px
      height: 30px
      border-radius: 3px
      border: 1px solid #E0E4E7

  .onboarding-form.editheader
    padding: 40px 5% 10px
    width: 90%

    .editheader-inputs
      display: flex
      flex-direction: row
      justify-content: space-around