#index-container
  margin: 30px 10% 0px
  // padding: 0px 5% 10px
  
  .bp3-tab-list
    margin-bottom: -20px
    padding: 20px
    padding-left: 40px
    border-radius: 10px
    border-bottom-right-radius: 0px
    border-bottom-left-radius: 0px  
    border: 1px solid #E0E4E7
    border-bottom: none
    background: #FAFBFC
    *
      font-size: 18px
      padding-right: 7px

  .bp3-tab-panel.dashboard-tab
    border: 1px solid #E0E4E7
    // border-top: none
    border-radius: 10px
    border-top-right-radius: 0px
    border-top-left-radius: 0px
    background: white
    padding: 30px 5% 10px